@model Mello.ImageGallery.ViewModels.ImageAddViewModel
@{ Script.Require("jQueryMultiFile").AtHead(); }
           
@{ Layout.Title = T("Add Images").ToString(); }

@using (Html.BeginForm("AddImages", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary()
    <fieldset>
        <span>@T("You can add multiple image files or zip files containing the images.")</span>
        <input id="ImageFiles" name="ImageFiles" class="multi" type="file" value="@T("Browse")" size="64" accept="@string.Join("|", Model.AllowedFiles.ToArray())"/> 
        @Html.HiddenFor(o => o.ImageGalleryName)

        <span class="hint">@T("After your files have been uploaded, you can edit the titles and descriptions.")</span>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Upload")</button>
        @Html.AntiForgeryTokenOrchard()
    </fieldset>
}
