@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : "";}).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    Style.Include("site.css");
    

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

	
    /* Last bit of code to prep the layout wrapper
    ***************************************************************/
    
    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}	<!-- BindTuning head elements-->
	<script type="text/javascript">
	    if (typeof jQuery == 'undefined') {
	       if (window.location.protocol != "https:") {
	           document.write("<script type='text/javascript' src='//code.jquery.com/jquery.min.js'><" + "/script>");
	           document.write("<script type='text/javascript'>window.jQuery || document.write(\"<script type='text/javascript' src='@Href("~/Themes/Terra/js/jquery.min.js")'><\" + \"/script>\");<" + "/script>");
	       } else { document.write("<script type='text/javascript' src='@Href("~/Themes/Terra/js/jquery.min.js")'><" + "/script>"); }
	    }
	</script>
	<script type="text/javascript">
		$('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">');
	</script>
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-transition.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-alert.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-modal.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-dropdown.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-scrollspy.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-tab.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-tooltip.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-popover.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-button.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-collapse.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-carousel.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-typeahead.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/bootstrap-affix.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/BindMENU.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/jquery.nivo.slider.pack.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/populateSelectNav.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/Terra/js/prefixfree.js")"></script>


	<!--Apply class to body with browser version-->
	<script type="text/javascript">
		var nVer = navigator.appVersion; var nAgt = navigator.userAgent; var bN = navigator.appName; var fullV = "" + parseFloat(navigator.appVersion); var majorV = parseInt(navigator.appVersion, 10); var nameOffset, verOffset, ix; if ((verOffset = nAgt.indexOf("Opera")) !== -1) { bN = "Opera"; fullV = nAgt.substring(verOffset + 6); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("MSIE")) !== -1) { bN = "IE"; fullV = nAgt.substring(verOffset + 5) } else { if ((verOffset = nAgt.indexOf("Chrome")) !== -1) { bN = "Chrome"; fullV = nAgt.substring(verOffset + 7) } else { if ((verOffset = nAgt.indexOf("Safari")) !== -1) { bN = "Safari"; fullV = nAgt.substring(verOffset + 7); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("Firefox")) !== -1) { bN = "Firefox"; fullV = nAgt.substring(verOffset + 8) } else { if ((nameOffset = nAgt.lastIndexOf(" ") + 1) < (verOffset = nAgt.lastIndexOf("/"))) { bN = nAgt.substring(nameOffset, verOffset); fullV = nAgt.substring(verOffset + 1); if (bN.toLowerCase() == bN.toUpperCase()) { bN = navigator.appName } } } } } } } if ((ix = fullV.indexOf(";")) !== -1) { fullV = fullV.substring(0, ix) } if ((ix = fullV.indexOf(" ")) !== -1) { fullV = fullV.substring(0, ix) } majorV = parseInt("" + fullV, 10); if (isNaN(majorV)) { fullV = "" + parseFloat(navigator.appVersion); majorV = parseInt(navigator.appVersion, 10) } 
		document.getElementsByTagName("body")[0].className += " " +  bN + " " +  bN + majorV + " cmsORX cmsORX1";
	</script>

<header class="navbar">
	<div class="header-aux">
		<div class="container">
			<div class="row-fluid">
				<a data-target=".collapse-user" data-toggle="collapse" class="btn btn-navbar" type="button"><i class="icon icon-user"></i></a>
				<a data-target=".collapse-search" data-toggle="collapse" class="btn btn-navbar" type="button"><i class="icon icon-search"></i></a>
				<a data-target=".collapse-nav" data-toggle="collapse" class="btn btn-navbar pull-right" type="button"><i class="icon icon-reorder"></i></a>

				<div class="nav-collapse collapse-user collapse">
					<div class="span8">
						<span id="Language"></span>
						<span id="Login">@if (Request.IsAuthenticated) {
		<span class="user-actions">
			@Html.ActionLink(T("Sign Out").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })
			@Html.ActionLink("Dashboard", "Index", new { Area = "Dashboard", Controller = "Admin" })
		</span>
} else {
		<span class="user-actions">@Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })</span>
}</span>
						<span id="User">@if (Request.IsAuthenticated) {
	<span class="welcome">@if(WorkContext.CurrentUser != null){@T("<strong>{0}</strong>", new HtmlString(Html.ActionLink( WorkContext.CurrentUser.UserName, "ChangePassword", new { Controller = "Account", Area = "Orchard.Users" }).ToString()))}</span>
}</span>
					</div>
				</div>
				<div class="nav-collapse collapse-search collapse">
					<div class="span4">
						<div class="btn" data-toggle="button"></div>
						<div id="Search"><div id="SearchBar">@using (Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search-form" })){<fieldset><input type="text" value="" name="q" id="q"><button type="submit"></button></fieldset>}</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-main">
		<div class="container">
			<div class="row-fluid">
				<div class="span3" id="Logo"><h1><a href="/" title="Go to Home">@WorkContext.CurrentSite.SiteName</a></h1></div>
				<div class="span9 nav-collapse collapse-nav collapse">
					<nav><div id="MenuH">@if (Model.Navigation != null) {@Display(Model.Navigation)}</div></nav>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="HomeSlider">@if (Model.Header != null){<div id="Header" class="">@Display(Model.Header)</div>}</div>

<div id="MainWrapper" class="boxed">
	<div class="container">
		<div id="Main" role="main"><div class="row-fluid">
	@if (Model.BeforeMain != null){<div class="pane span12" runat="server" id="BeforeMain">@Display(Model.BeforeMain)</div>}
</div>
<div class="row-fluid">
	@if (Model.BeforeContent != null){<div class="pane span7" runat="server" id="BeforeContent">@Display(Model.BeforeContent)</div>}
	@if (Model.AsideFirst != null){<div class="pane span5" runat="server" id="AsideFirst"><div class="C03 container-box">@Display(Model.AsideFirst)</div></div>}
</div>
<div class="row-fluid">
	
	
</div>
<div class="row-fluid">
	
	
</div>
<div class="row-fluid">
	@if (Model.Content != null){<div class="pane span12" runat="server" id="Content">@Display(Model.Content)</div>}
</div>
<div class="row-fluid">
	
	
</div>
<div class="row-fluid">
	@if (Model.AsideSecond != null){<div class="pane span4" runat="server" id="AsideSecond"><div class="C03 container-box">@Display(Model.AsideSecond)</div></div>}
	@if (Model.AfterContent != null){<div class="pane span8" runat="server" id="AfterContent">@Display(Model.AfterContent)</div>}
</div>
<div class="row-fluid">
	
	
	
</div>
<div class="row-fluid">
	@if (Model.AfterMain != null){<div class="pane span12" runat="server" id="AfterMain">@Display(Model.AfterMain)</div>}
</div>
<div class="row-fluid">
	@if (Model.TripelFirst != null){<div class="pane span4" runat="server" id="TripelFirst"><div class="C01 container-box">@Display(Model.TripelFirst)</div></div>}
	@if (Model.TripelSecond != null){<div class="pane span4" runat="server" id="TripelSecond"><div class="C01 container-box">@Display(Model.TripelSecond)</div></div>}
	@if (Model.TripelThird != null){<div class="pane span4" runat="server" id="TripelThird"><div class="C01 container-box">@Display(Model.TripelThird)</div></div>}
</div></div>
	</div>
	<footer>
		<div class="container">
			<div id="FooterWidgets">
					<div class="row-fluid">
						@if (Model.FooterQuadFirst != null){<div id="FooterQuadFirst" class="pane span3">@Display(Model.FooterQuadFirst)</div>}
						@if (Model.FooterQuadSecond != null){<div id="FooterQuadSecond" class="pane span3">@Display(Model.FooterQuadSecond)</div>}
						@if (Model.FooterQuadThird != null){<div id="FooterQuadThird" class="pane span3">@Display(Model.FooterQuadThird)</div>}
						@if (Model.FooterQuadFourth != null){<div id="FooterQuadFourth" class="pane span3">@Display(Model.FooterQuadFourth)</div>}
					</div>
					<div class="row-fluid">
						
						
						
					</div>
					<div class="row-fluid">
						
						
					</div>
					<div class="row-fluid">
						@if (Model.Footer != null){<div id="Footer" class="pane span12">@Display(Model.Footer)</div>}
					</div>
			</div><!-- End Footer Widgets-->
		</div>
		<div class="container">
			<div id="FooterCopyright">
				<span id="Copyright"><span class="Copyright">&copy; 2013 @WorkContext.CurrentSite.SiteName. All rights reserved.</span></span>
				<span id="Sitemap"></span>
				<span id="Privacy"></span>
				<span id="Terms"></span>
				<span id="Cart"></span>
			</div>
		</div>
	</footer>
</div>

<div id="BgLayer1"></div>

<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {
			$('body').css('padding-top',$('header').outerHeight(true));
			$('#MainWrapper > .container').css('padding-bottom',$('footer').outerHeight(true) + 40 + 'px');
		});
	})(jQuery);
</script>
	
<script type="text/javascript">
		(function ($) {
			$(document).ready(function () {
				//Nivo Slider
				$('#slider').nivoSlider({
					effect:'random'
				});

				//Carousel
				$('.carousel').carousel({
					interval: 5000
				});

				//Tooltips
				$('a[rel=tooltip]').tooltip();

				//Popovers
				$('a[rel=popover]').popover({
					trigger: 'hover'
				});
			});
		})(jQuery);
</script>

	<script type="text/javascript" >
	(function( $ ) {
		$("#MenuH .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Horizontal" });
		$("#MenuV .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Vertical" });
	})(jQuery);
	</script>
	<!-- powered by BIND TUNING 2013 // http://www.bindtuning.com -->
