@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");
    
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);
    
    var tag = Tag(Model, "article");
}
@tag.StartElement
<header>
    @Display(Model.Header)
    @if (Model.Meta != null) {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
    }
</header>

@{
    var imageUrl = ((Orchard.MediaLibrary.Fields.MediaLibraryPickerField) Model.ContentItem.JsReportFeatureItem.Fields[0]).MediaParts.Select(mp => mp.MediaUrl).First();
}

<img src='@imageUrl' width="100" height="100" style="float:left" />

@Display(Model.Content)
    @if(Model.Footer != null) {
        <footer>
            @Display(Model.Footer)
        </footer>
    }
@tag.EndElement